

.ServerError
{
    
    animation: slideDown .3s ease-out forwards;
  

}


@keyframes slideDown {
    from{
        
         right:0%;
         top:-80%;

    }
    to
    {
         right:0%;
         top: 12%;
             

    }

}